@charset "UTF-8";

.container{
    display: grid;
    grid-template: repeat(3, 80px) / repeat(4, 1fr);
    grid-auto-flow: row;
    place-items: normal normal;
    place-content: normal normal;
}

#cx1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: lightcoral;
}

#cx2{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: lightblue;
}

#cx3{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: lightgreen;
}