@charset "UTF-8";
 /* Configurações gerais */
@media all{
    * {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    html, body {
        height: 100vh;
        width: 100vw;
        background-color: #233eff;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    h1 {
        color: white;
        text-shadow: 2px 2px 0px #1546a7;
        text-align: center;
    }
}

/* Estilos para orientação retrato */
@media screen and (orientation: portrait) {
    body {
        background: url("../imagens/cev-portrait.jpg");
        background-position: center bottom;
    }   
}

/* Estilos para orientação paisagem */
@media screen and (orientation: landscape) {
    body {
        background: url("../imagens/cev-landscape.jpg");
        background-position: left bottom;
    }
}